.profile{
    min-height: 100vh;

    .container{
        width: 90%;
        margin-inline: auto;

        .top-part{
            display: flex;
            align-items: center;
            gap: 50px;
            padding: 30px;

            .profile-avatar{
                width: 150px;
                height: 150px;
            }
    
            .image-right{
                display: flex;
                flex-direction: column;
                gap: 20px;
    
                .name-and-edit{
                    display: flex;
                    align-items: center;
                    gap: 20px;
    
                    h2{
                        font-weight: 500;
                    }
    
                    .edit-btn{
                        border: none;
                        padding: 10px 15px;
                        background-color: rgb(236, 236, 236);
                        border-radius: 10px;
                        font-weight: 600;
                        cursor: pointer;

                        &:hover{
                            background-color: rgb(222, 222, 222);
                        }

                        &:active{
                            background-color: rgba(222, 222, 222, 0.603);
                            color: rgba(0, 0, 0, 0.659);
                        }
                    }

                    .follow-btn{
                        background-color: #269ae7;
                        color: white;
                        border-radius: 8px;
                        padding: 8px 20px;
                        border: none;
                        cursor: pointer;
                        font-weight: 600;

                        &:hover{
                            background-color: #1086d5;
                        }
                    }

                    .following-btn{
                        background-color: rgb(237, 237, 237);
                        color: black;
                        border-radius: 8px;
                        padding: 8px 20px;
                        border: none;
                        cursor: pointer;
                        font-weight: 600;

                        &:hover{
                            background-color: rgb(222, 222, 222);
                        }
                    }

                    .logout-box{
                        background-color: lightgrey;
                        padding: 5px;
                        border-radius: 10px;

                        &:active{
                            scale: 0.8;
                        }

                        .logout-btn{
                            cursor: pointer;
                        }
                    }
                }
    
                .details{
                    display: flex;
                    gap: 30px;
                    font-size: 1.2rem;
    
                    span{
                        font-weight: 600;
                    }

                    .followings, .followers{
                        cursor: pointer;
                    }
                }

            }
        }

        .posts-heading{
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            width: 67px;
            margin-left: 230px;
            border-top: 2px solid black;
            position: relative;
            bottom: 2px;
            padding-top: 10px;
        }
        
        .bottom-part{

            .display-posts{
                width: 45vw;
            }

            .display-empty{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 70px;

                .empty-profile-container{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    align-items: center;

                    .camera-icon-container{
                        border: 2px solid black;
                        height: 75px;
                        width: 75px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        svg{
                            font-size: 2.5rem;
                        }
                    }

                    h2{
                        font-size: 2rem;
                    }

                    .share-btn-in-empty{
                        background: none;
                        border: none;
                        color: #2496e3;
                        font-weight: 600;
                        cursor: pointer;

                        &:hover{
                            color: #064b79;
                        }

                        &:active{
                            color: #064b79b4
                        }
                    }
                }
            }
            
        }
    }
    
}