.editProfile{
    min-height: 95vh;
    position: relative;

    .loading-container{
        width: 100%;
        min-height: 100%;
        position: absolute;
        z-index: 20;
        background-color: rgb(0 0 0 / 51%);

        .lds-facebook {
            display: inline-block;
            width: 80px;
            height: 80px;
            position: absolute;
            z-index: 10;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
          .lds-facebook div {
            display: inline-block;
            position: absolute;
            left: 8px;
            width: 16px;
            background: #51b9ff;
            animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          }
          .lds-facebook div:nth-child(1) {
            left: 8px;
            animation-delay: -0.24s;
          }
          .lds-facebook div:nth-child(2) {
            left: 32px;
            animation-delay: -0.12s;
          }
          .lds-facebook div:nth-child(3) {
            left: 56px;
            animation-delay: 0;
          }
          @keyframes lds-facebook {
            0% {
              top: 8px;
              height: 64px;
            }
            50%, 100% {
              top: 24px;
              height: 32px;
            }
          }
    }
   

    .container{
        width: 90%;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        border: 1px solid lightgrey;
        padding: 30px 20px;
        background-color: white;
        position: relative;
        margin-top: 30px;

        .profile-avatar{
            width: 150px;
            height: 150px;
        }

        .avatar-container{
            width: 150px;
            height: 150px;
            margin-left: 84px;
            border-radius: 50%;
            position: relative;

            .photo-overlay{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                opacity: 0;
                flex-direction: column;
                gap: 10px;

                &:hover{
                    background-color: rgba(48, 48, 48, 0.556);   
                    opacity: 1;
                }

                .camera-icon{
                    font-size: 22px;
                }

                .change-text{
                    text-align: center;
                    font-size: 13px;
                }
            }
        }

        .photoInput{
            display: none;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            .inputs-container{
                display: flex;
                align-items: center;
                gap: 20px;
                position: relative;

                label{
                    width: 70px;
                    font-weight: 600;
                    text-align: end;
                }

                input{
                    width: 60%;
                    padding: 8px 10px;
                    font-size: 1.1rem;
                    border-radius: 5px;
                    border: 1px solid lightgrey;
                    outline-color: grey;
                }

                textarea{
                    background: transparent;
                    border: 1px solid rgb(219, 219, 219);
                    border-radius: 3px;
                    font-size: 16px;
                    height: 60px;
                    padding: 6px 10px;
                    resize: vertical;
                    width: 60%;
                    outline-color: grey;
                }

                p{
                    position: absolute;
                    left: 90px;
                    bottom: -25px;
                    color: rgb(151, 151, 151);
                }
            }

            .submit-btn{
                width: fit-content;
                padding: 9px 15px;
                border-radius: 9px;
                border: none;
                color: white;
                background-color: #51b9ff;
                font-weight: 600;
                margin-top: 10px;
                margin-left: 90px;
                cursor: pointer;
                margin-top: 30px;

                &:hover{
                    background-color: #2395e2;
                }
            }
        }

        .delete-btn-container{
            position: absolute;
            right: 50px;

            .delete-btn{
                border: none;
                background-color: red;
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                font-weight: 600;
                cursor: pointer;

                &:hover{
                    background-color: rgb(224, 0, 0);
                }
            }
        }
    }
}